@import 'src/assets/styles/variables.less';

.aibid-fullscreen-modal.ant-modal {
  max-width: 100%;
  top: 0;
  padding-bottom: 0;
  margin: 0;
}

.aibid-fullscreen-modal .ant-modal-content {
  display: flex;
  flex-direction: column;
  height: 100vh;
  border-radius: 0;
}

.aibid-fullscreen-modal .ant-modal-header {
  flex-shrink: 0;
}
