@popup-height: 400px;

.filter-region-cascade {
    height: @popup-height;

    .ant-cascader-menu {
        height: @popup-height;
    }
}

@media screen and (max-height: 650px) {

    .filter-region-cascade {
        height: 300px;

        .ant-cascader-menu {
            height: 300px;
        }
    }
}
