.new-biz-form {
    min-height: 300px;
    .biz-form-group-lable {
        display: flex;
        width: 100%;
        font-size: 14px;
        font-weight: 500;
        color: #333333;
        padding: 12px 0;
        margin-top: 12px;
    }
}