@import 'src/assets/styles/variables.less';

.credit-page {
	height: 100%;
	display: flex;
	flex-direction: column;
	padding: 0 8px 8px;
	background: @bg-gradient-top-center;
}

.credit-header {
	height: 78px;
	background: url('../../assets/img/image25.png') no-repeat 28px top;
	background-size: auto 78px;
	display: flex;
	padding-left: 156px;

	.guide-item {
		flex: 1;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		font-size: 14px;

		.guide-item-title {
			color: @primary-color;
			font-weight: 500;
			padding-left: 24px;
			background: url('../../assets/img/icon-arrow.png') no-repeat left center;
			background-size: 12px auto;
		}

		.guide-item-desc {
			color: @primary-text;
			margin-top: 4px;
			padding-left: 23px;
		}
	}
}

.credit-content {
	display: flex;
	gap: 12px;
	flex: 1;
	overflow: hidden;
}