@import 'src/assets/styles/variables.less';

.bdd-standard-inspection-panel {
  .bd-standard-panel__req {
    margin: 0 0 16px;
    padding: 16px;
    background: #fff;
    border: 1px solid #e8ecf7;
    border-radius: 8px;
    font-size: 13px;
    color: @text-primary;
    line-height: 1.6;
    max-height: 200px;
    width: 100%;
    overflow: hidden auto;
    white-space: pre-wrap;
    word-break: break-all;
  }

  .bd-standard-panel__cards {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}
