  @font-face {
    font-family: "aibid"; /* Project id 5151785 */
    src: url('iconfont.woff2?t=1775639347476') format('woff2'),
         url('iconfont.woff?t=1775639347476') format('woff'),
         url('iconfont.ttf?t=1775639347476') format('truetype'),
         url('iconfont.svg?t=1775639347476#iconfont') format('svg');
  }
  
  .iconfont {
    font-family: "aibid" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  // 统一添加font-family，不用每次新增都手动添加
  [class^="icon-"]:before,
  [class*=" icon-"]:before {
    font-family: "aibid";
  }

.icon-gudingdaozuoce:before {
  content: "\e729";
}

.icon-daoxu:before {
  content: "\e72a";
}

.icon-zhengxu:before {
  content: "\e72b";
}

.icon-weidenglu:before {
  content: "\e728";
}

.icon-shaixuan:before {
  content: "\e70f";
}

.icon-a-guolvshengxuxuanzhong:before {
  content: "\e727";
}

.icon-a-guolvjiangxu:before {
  content: "\e715";
}

.icon-a-guolvjiangxuxuanzhong:before {
  content: "\e712";
}

.icon-a-guolvshengxu:before {
  content: "\e713";
}

.icon-liebiaomoshi:before {
  content: "\e711";
}

.icon-wenantishi:before {
  content: "\e710";
}

.icon-yulan:before {
  content: "\e70a";
}

.icon-bianjiqiye:before {
  content: "\e70b";
}

.icon-riqi:before {
  content: "\e70c";
}

.icon-shanchu:before {
  content: "\e70d";
}

.icon-aianniu1:before {
  content: "\e70e";
}

.icon-fuhe1:before {
  content: "\e714";
}

.icon-jinggao:before {
  content: "\e716";
}

.icon-bufuhe1:before {
  content: "\e717";
}

.icon-shangyichu:before {
  content: "\e718";
}

.icon-shouqizhankai1:before {
  content: "\e719";
}

.icon-wenjianqingchu1:before {
  content: "\e71a";
}

.icon-biaogemoshi:before {
  content: "\e71b";
}

.icon-xiayichu:before {
  content: "\e71c";
}

.icon-daochutoubiaoziliao:before {
  content: "\e71d";
}

.icon-zhongshi1:before {
  content: "\e71e";
}

.icon-quanping:before {
  content: "\e71f";
}

.icon-hulve1:before {
  content: "\e720";
}

.icon-huifu1:before {
  content: "\e721";
}

.icon-xiala1:before {
  content: "\e722";
}

.icon-wenhao1:before {
  content: "\e723";
}

.icon-xiazai1:before {
  content: "\e724";
}

.icon-zhaobiaogonggao:before {
  content: "\e725";
}

.icon-zhaobiaowenjian:before {
  content: "\e726";
}

.icon-fenxishibai:before {
  content: "\e704";
}

.icon-gengduo:before {
  content: "\e705";
}

.icon-shangchuan:before {
  content: "\e706";
}

.icon-bitian:before {
  content: "\e707";
}

.icon-yiwancheng:before {
  content: "\e708";
}

.icon-sousuo:before {
  content: "\e709";
}

.icon-zixinku:before {
  content: "\e700";
}

.icon-xiaoxitongzhi:before {
  content: "\e701";
}

.icon-shezhi:before {
  content: "\e702";
}

.icon-denglu-guanbi:before {
  content: "\e703";
}

.icon-xuanbiao:before {
  content: "\e6fe";
}

.icon-shangwubiao:before {
  content: "\e6ff";
}

.icon-daohangshouqizhankai:before {
  content: "\e6fd";
}

.icon-dingweiyuanwen:before {
  content: "\e6fc";
}

