.required-echo-select {
  .required-echo-select__star {
    color: #fd6364;
    font-weight: 600;
    margin-left: 1px;
  }
}

.required-echo-select__dropdown {
  .ant-select-item-option .ant-select-item-option-content {
    font-weight: 400;
  }
}
